<div class="container mt-4">
  <h2>Product List</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price | currency }}</td>
        <td>
          <a class="btn btn-danger" (click)="deleteProduct(product.id)">Delete</a>
          <a class="btn btn-primary" [routerLink]="['/edit-product', product.id]">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
  <a class="btn btn-success" [routerLink]="['/add-product']">Add Product</a>
</div>
